body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
}

header {
    background-image: url("./image/Travel.png");
    width: 1440px;
    height: 1024px;
    background-position: center;
    /* Позиционировать изображение по центру */
}

.menu a {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.home-href {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 772px;
    /* Высота контейнера .header-container */
    width: 1170px;
    margin-top: 73px;
    margin-left: 115px;
}

.menu {
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 96px;
    font-weight: 700;
    line-height: 144px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

p {
    max-width: 749px;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 275;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.button {
    padding: 16px 28px;
    border-radius: 8px;
    border: none;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 180, 61, 1);
    text-decoration: none;
    text-align: center;
}
